.App {
  height: 150vh;
  width: 100vw;
  background-color: cornsilk;
  margin: 0px;
  margin-top: 0px;
  border: 0;
}

.main {
  display: flex;
  justify-content: space-evenly;

}

.title {
  font-size: 20px;
  font-weight: bold;

}

.hobbies {
  width: 30vw;
  font-size: 14px;
  font-weight: bold;
  display: grid;
  grid-template-rows: 25px 20px 20px;
}

.images {
  height: 410px;
  width: 30vw;
  grid-row: 2;
}

.description{ 
  color: black;
  width: 30vw;
  grid-row: 3;
}

.description:hover{
  color: red;
}

.images:hover{
  opacity: 0.1;
}

#img1 {
  background-image: url(./assets/dreamer.jpg);
  background-size: 100% 100%;
}

#img2 {
  background-image: url(./assets/Musical.png);
  background-size: 100% 100%;
}

#img3 {
  background-image: url(./assets/entertainment.jpeg);
  background-size: 100% 100%;
}